<a id="research" class="text-decoration-none" style="color: #212529;" href="#research">
    <h4 class="fw-bold mb-3">Research</h4>
</a>
<hr />
<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px">
            <strong>13.	🍀 Sqrt-Error-Weighted Grade Model for Weakly Supervised Weed Segmentation of UAV Imagery [Paper, 2025.04]</strong>
        </div>
        <p class="paragraph" style="margin-bottom: 10px">
            We present an efficient and scalable framework for multi-type weed segmentation 
            by integrating the weed severity grade model with a CAM-based weakly supervised segmentation training strategy. 
            It achieved robust two-type weed segmentation without relying on pixel-level annotations.
            </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://www.sciencedirect.com/journal/computers-and-electronics-in-agriculture" target="_blank"
                rel="noopener">
                UnderRevision
            </a>
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/luxiangyugo/WeedSeg" target="_blank"
                rel="noopener">
                GitHub
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/fig6_weakly_supervised.png" alt="r13_weedSeg" class="prjimage" width="90%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px">
            <strong>12.	🔍 UAV Image Super-Resolution with Diffusion Model and Variance Attention [Paper, 2024.08]</strong>
        </div>
        <p class="paragraph" style="margin-bottom: 10px">
            We studied the variance patterns in aerial images taken from different heights and created a Variance-Average-Spatial Attention (VASA) 
            mechanism to improve super-resolution models. 
            We also introduced the Super-Resolution Relative Fidelity Index (SRFI) for better cross-scale evaluation. 
            Our Efficient VASA-enhanced Diffusion Model (EVADM) showed strong performance across multiple datasets and tasks, 
            proving its effectiveness in enhancing super-resolution.</p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://doi.org/10.1016/j.isprsjprs.2024.08.017" target="_blank"
                rel="noopener">
                Paper
            </a>
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/EVADM" target="_blank"
                rel="noopener">
                GitHub
            </a>
            <a class="btn btn-outline-primary btn-sm" href="https://data.mendeley.com/datasets/fhvph562cn" target="_blank"
                rel="noopener">
                Dataset
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r12_cropsr.png" alt="r12_cropsr" class="prjimage" width="90%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-5">
        <div class="papertitle" style="margin-bottom: 4px">
            <strong>11.	🏞️ Lake Algal Detection based on UAV sensing and cascaded segmentation networks [Project, 2023.05]</strong>
        </div>
        <p class="paragraph" style="margin-bottom: 10px">
            Based on the direct geo-location method and UAV images, we cascaded waterbody segmentation and algal-bloom segmentation models, 
            to achieve a rapid algal-bloom region detection and mapping of lakes.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/AlgalDet" target="_blank"
                rel="noopener">
                Project
            </a>
        </div>
    </div>
    <div class="col-md-7">
        <img src="{{ site.baseurl }}/assets/img/r11_algalDet.png" alt="r11_algalDet" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-5">
        <div class="papertitle" style="margin-bottom: 4px">
            <strong>10.	🌱 Rice field segmentation and phenological stage identification of UAV images [Paper, 2022.11]</strong>
        </div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Utilize semantic segmentation for segmenting rice field and classifying phrenology simultaneously,
            and Employed ghost convolution to optimize and accelerate bilateral segmentation networks.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://doi.org/10.3390/drones7020083" target="_blank"
                rel="noopener">
                Paper
            </a>
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/PaddySeg" target="_blank"
                rel="noopener">
                GitHub
            </a>
            
        </div>
    </div>
    <div class="col-md-7">
        <img src="{{ site.baseurl }}/assets/img/r10_paddySeg.png" alt="r10_paddySeg" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-5">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            9.	🗺️ Direct Geo-locating of UAV image and efficient feature sampling method [Paper, 2022.07]
            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            The proposed direct geo-locating (DGL) located the traits in original UAV image directly based on camera parameters and central projection model.
            Designed an efficient trait mapping workflow with incremental sparse sampling.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://doi.org/10.3390/drones7020083" target="_blank"
                rel="noopener">
                Paper
            </a>
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/PaddySeg" target="_blank"
                rel="noopener">
                GitHub
            </a>
            
        </div>
    </div>
    <div class="col-md-7">
        <img src="{{ site.baseurl }}/assets/img/r9_dgl.png" alt="r9_dgl" class="prjimage" width="100%">
    </div>
</div>
<hr />


<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
    8.	🍇 Grape leaf disease and pest diagnosis using convolution and transformer hybrid model [Paper, 2021.11]
            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We proposed the Ghost-convolution enlightened transformer (GeT) model for grape leaf symptoms diagnosis.
            Tested and evaluated models on the grape leaf disease and pest dataset (GLDP12k) that contains 12,615 
            images in 11 categories, and GeT surpassed other typical models.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://doi.org/10.1016/j.jksuci.2022.03.006" target="_blank"
                rel="noopener">
                Paper
            </a>
            <a class="btn btn-outline-primary btn-sm" href="https://github.com/HobbitArmy/GeT_model" target="_blank"
                rel="noopener">
                GitHub
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r8_getModel.png" alt="r8_getModel" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-5">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            7.	⚖️ Cascade 24-channels weighing system based on I2C bus [Project, 2020.11]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Designed the scalable data collection solution using I2C bus and a cascaded structure.
            Implemented a 24-channel weighing system with HD-711 AD module and low-power Arduino Pro Mini
            microcontroller. Designed and tested PCB circuit diagram of plug-in nodes using Altium Designer.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="https://www.bilibili.com/video/BV1a8411P734/"
                target="_blank" rel="noopener">
                Video
            </a>
        </div>
    </div>
    <div class="col-md-7">
        <img src="{{ site.baseurl }}/assets/img/r6_weighingSystem.png" alt="r6_scheme" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            6.	🍊 Citrus diameter estimation based on HSV color space [Project, 2020.10]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Segmented citrus instances of RGB image with clear background using HSV color space, 
            then, estimated the fruit size by measuring the pixel-length of the bounding rectangle and camera imaging principle.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r7_linearRelationship.png"
                target="_blank" rel="noopener"> Linear
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r7_sizer.png" alt="r7_sizer" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            5.	💥 Soil heavy metal detection using LIBS and the signal enhancement method [Undergraduate Thesis, 2020.05]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Detected soil heavy metal containment using laser-induced breakdown spectroscopy (LIBS).
            Studied the Ar gas environment and light convergence chamber spectrum signal enhancement methods.
            Designed and simulated a LIBS batch testing platform using SOLIDWORKS.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r5_libs.pdf" target="_blank"
                rel="noopener">
                Slides
            </a>
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r5_CN212646487U.pdf" target="_blank"
                rel="noopener">
                Patent
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r5_pca.png" alt="r5_pca" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-5">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            4.	🚜 Integrated seeding and fertilizing seed-metering device [ZOOMLION-Cup Contest, 2019.08]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Designed and assembled a seeder that is capable of spraying liquid seedlings fertilizers while seeding. 
            I was responsible for electrical motor and valve control and parameters tuning.
        </p>
    </div>
    <div class="col-md-7">
        <img src="{{ site.baseurl }}/assets/img/r3_structure.jpg" alt="r3_structure" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            3.	⚙️ Reciprocating mechanism based on curved-groove ball bearing [Patent, 2019.05]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Designed a reciprocating mechanism for compressor using the novel curved-groove ball bearing. 
            I was responsible for drawing the schematics and applying for the patent.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r4_CN210050268U.pdf" target="_blank"
                rel="noopener">
                Patent
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <video width="100%" height="240" controls>
            <source src="{{ site.baseurl }}/assets/img/r4_rotation.mp4" type="video/mp4">
        </video>
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            2.	🌾 Weed identification based on UAV images [Provincial Project, 2018.05]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Collected and labeled a dataset for the detection of 5-kinds of weeds in wheat fields at seedling stage using UAV. 
            I have been appointed as the team leader and have secured funding for the project. I was responsible 
            for implementing and training real-time CNN models for weeds identification.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r1_poster.pdf" target="_blank"
                rel="noopener">
                Poster
            </a>
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r2_CN210503198U.pdf" target="_blank"
                rel="noopener">
                Patent
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r1_weedsUAV.jpg" alt="r1_weedsUAV" class="prjimage" width="100%">
    </div>
</div>
<hr />

<div class="row g-5 mb-5">
    <div class="col-md-6">
        <div class="papertitle" style="margin-bottom: 4px"><strong>
            1.	🔋 Electric vehicle charging station network location planning method [ICM Contest, 2018.02]            </strong></div>
        <p class="paragraph" style="margin-bottom: 10px">
            We Investigated the optimal placement of a charging stations to facilitate the growth of electric vehicles. 
            I was responsible for code implementation of polynomial curve fitting and multi-objective location model 
            using MATLAB.
        </p>
        <div class="btn-links" style="margin-bottom: 10px">
            <a class="btn btn-outline-primary btn-sm" href="{{ site.baseurl }}/assets/img/r2_thesisICM.pdf" target="_blank"
                rel="noopener">
                Thesis
            </a>
        </div>
    </div>
    <div class="col-md-6">
        <img src="{{ site.baseurl }}/assets/img/r2_hm.png" alt="r2_hm" class="prjimage" width="100%">
    </div>
</div>
