---
layout: default
---

{{ content }}

<div class="row g-5 mb-5">
  <div>
    <h4 class="fw-bold border-bottom pb-3 mb-5">CV</h4>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h5>Education</h5>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.education %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h5>Study Experience</h5>
      </div>
      <div class="col-md-10">
        {% for section in site.data.cv.academic-experience %}
          <p class="fw-bold">{{ section.title }}</p>
          <p>{{ section.description }}</p>
        {% endfor %}
      </div>
    </div>
    
    <div class="row g-5 mb-5">
      <div class="col-md-2">
        <h5>CV pdf</h5>
      </div>
      <div class="col-md-10">        
        <p><a href="{{ site.baseurl }}/assets\XiangyuLu_CV_20250710_En.pdf"> <b>XiangyuLu_CV_20250710_En.pdf</b></a></p>
      </div>
    </div>

  </div>
</div>
